<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "", alt: "image1" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Paul Flower 1</h1><br />
          <h2 class="">Paul Flower sub 1</h2>
        </div> <!-- /.carousel-caption -->
      </div> <!-- /.container -->
    </div> <!-- /.item -->
    <div class="item">
      <%= image_tag "", alt: "image2" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Paul Flower 2</h1>
          <h2 class="">Paul Flower sub 2</h2>
        </div> <!-- /.carousel-caption -->
      </div> <!-- /.container -->
    </div> <!-- /.item -->
    <div class="item">
      <%= image_tag "", alt: "image3" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Paul Flower 3</h1>
          <h2 class="non-mobile">Paul Flower sub 3</h2>
        </div> <!-- /.carousel-caption -->
      </div> <!-- /.container -->
    </div> <!-- /.item -->
  </div>
  <!-- The chevrons -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->

<div class="well">
  <p>This should be a well</p>
</div>