<div id="myLinks" class="links">
  <div class="well-hole">
    <i class="icon-envelope icon-3x"></i>
    <i class="icon-facebook-sign icon-3x"></i>
    <i class="icon-twitter-sign icon-3x"></i>
    <i class="icon-share-sign icon-3x"></i>
  </div>
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "blue-dots.jpg", alt: "image1" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Paul Flower 1</h1>
        </div> <!-- /.carousel-caption -->
      </div> <!-- /.container -->
    </div> <!-- /.item -->
    <div class="item">
      <%= image_tag "dkblue-dots.jpg", alt: "image2" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Paul Flower 2</h1>
        </div> <!-- /.carousel-caption -->
      </div> <!-- /.container -->
    </div> <!-- /.item -->
    <div class="item">
      <%= image_tag "green-dots.jpg", alt: "image3" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Paul Flower 3</h1>
        </div> <!-- /.carousel-caption -->
      </div> <!-- /.container -->
    </div> <!-- /.item -->
  </div>
  <!-- The chevrons -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->
</div><!-- /.links -->