// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "bootstrap-responsive";

body {
 	background-image: image-url('bgpattern.png');
 }

 //share bar

#myLinks {

}

.well-hole {
	display: block;	
	position: fixed;
	top: 1em;
	right: 3em;
	background: rgba(255,255,255,.3);
	width: 16%;
	border-radius: 15px;
	z-index: 5;
}

.well-hole > i {
	margin: 0em .2em;
}

// Carousel
#myCarousel {
	padding: 1em 10em;
}

.item > img {
 	height: 20em;
 	width: 100%;
 	z-index: 1;
}

.carousel-caption {
	background: none;
}

.carousel-control {
	margin: 0em 3em;
}