// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "bootstrap-responsive";

@import url(http://fonts.googleapis.com/css?family=Londrina+Solid|Alike);
// font-family: 'Londrina Solid', cursive;
//font-family: 'Alike', serif;


body {
 	background-image: image-url('bgpattern.png');
 	width: 100%;
	margin: 0em;
	padding: 0em;
}

// Keeps author info from being hidden by default on page load/resize
div#Author {
	display: inherit;
}

.hideable {
	display: none;
}

#myCarousel {
	z-index: 1;
}

// the chevrons
a.carousel-ctrl {
	position: absolute;
	top: 0;
	color: rgba(255,255,255,.4);
	font-size: 120px;
	font-weight: 100;
	z-index: 4 !important;
}
a.carousel-ctrl:hover {
	text-decoration: none;
	color: rgba(255,255,255,.6);
}

.carousel-caption {
	left: 5% !important;
	padding: 0em !important;
	z-index: 2 !important;
	background-color: rgba(255,255,255,0.0);
}

.carousel-caption > h1 {
	color: white;
	font-family: 'Alike', serif;
//	text-shadow: 
//		4px 4px 2px black,
//		-1px -1px 2px black;
	text-align: left;
	z-index: 2
}

//social links
.well-hole { 
	display: block;	
	position: fixed;
	background: rgba(255,255,255,.7);
	border-radius: 10px;
	padding-left: .4em;
	z-index: 5;
	width: 224px;
	left: 50%;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: -112px;
}

//social links
.well-hole > a {
	margin: 0em .5em;
	height: 224px;
	color: rgb(50,50,50);
}

.well-hole > a:hover {
	text-decoration: none;
	color: rgb(40,80,120);
}

// footer
.footer {
	padding: 0% 5%;
	width: 90%
}

//social media aggregator rebelMouse 
.padded {
	display: inline-block;
	padding: 0% 5%;
}

//bootstrap overrides width of pills and tabs
.nav-tabs > li > a,
.nav-pills > li > a {
  margin-right: 0px !important;
}

.nav > li > a {
	padding: 11px 11px !important;
}

@media (max-width: 639px) { //mobile small screens
	//carousel
	#myCarousel {
		width: 100%;
		padding: 2em 0em;
	}

	//Carousel #1 "critics are saying" and quotes
	//#rand-caption {
	//	display: none;
	//	background-color: rgba(0,0,0,0.3); //better contrast
	//  //would need rounded corners
	//}

	.carousel-caption {
		display: none;
	//	width: 100% !important;
	//	padding: 0em !important;
	//	bottom: 0px !important;
	}

	.carousel-caption > h1 {
		font-size: 1.5em;
		font-weight: normal;
	}

	//carosel chevron positioning
	a.carousel-ctrl {
		margin-top: 10%;
	}
	#cctl_Left {
		left: 6px;
	}

	#cctl_Right {
		right: 6px;
	}
}

@media (min-width: 640px) and (max-width: 1023px) { //old screens, tablets
	// Carousel not full screen width
	#myCarousel {
		padding: 2em 0em;
	}

	//gap between "critics are saying" and quotes
	#h1break {
		display: none;
	}

	.carousel-caption > h1 {
		font-size: 2em;
		text-shadow: 
			4px 4px 2px black,
			-1px -1px 2px black;
	}

	//carosel chevron positioning
	a.carousel-ctrl {
		margin-top: 11%;
		font-size: 9em;
	}
	#cctl_Left {
		left: 10px;
	}
	#cctl_Right {
		right: 10px;
	}


	// main content tabs
	#tabs > li > a {
		border: 1px solid white;
		background-color: rgba(255,255,255,.3);
	}
}

@media (min-width: 1024px) { //modern to large screens
	// Carousel full screen width
	#myCarousel {
		padding: 2em 0em;
	}

	.carousel-inner {
		height: auto;
		width: 100%;
	}

	//position carousel text
	.carousel-caption {
	//	top: 310px !important;
	}
	.carousel-caption > h1 {
		font-size: 3.5em;
		text-shadow: 
			4px 4px 2px black,
			-1px -1px 2px black;
	}

	//carosel chevron positioning
	a.carousel-ctrl {
		margin-top: 7%;
		font-size: 10em;
	}
	#cctl_Left {
		left: 10px;
	}
	#cctl_Right {
		right: 10px;
	}

// Carousel image
	.item > img {
	// 	height: 100%;
	 	width: 100%;
	 	z-index: 1;
	}

	// main content tabs
	#tabs > li > a {
		border: 1px solid white;
		background-color: rgba(255,255,255,.3);
	}

	//start things hidden
	.hideable {
		display: none;
	}
}
